{% extends 'dna-admin/cms.html.twig' %}

{% block meta %}
    <title>CMS Dna Exchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="index, follow">
    <meta name="author" content="DNAklik">
    <meta name="copyright" content="DNAklik, Haarlem">
{% endblock %}

{% block content %}
    <div class="mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Slug</th>
                    <th>Stamp</th>
                    <th>Count</th>
                    <th>Stamps</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for key, item in content %}
                <tr id='row_{{ item.id }}' class='rows'>
                    <td>{{ item.id }}</td>
                    <td style="background-color:{{ item.property }}">{{ item.slug }}</td>
                    <td>{{ item.stamp }}</td>
                    <td>{{ item.stampCount }}</td>
                    <td>{% for stamp, counter in item.dnaArr %}
                            {{ stamp }} ({{ counter }})
                        {% endfor %}</td>
                    <td>
                        <a href="{{ path('match_content_content', {'id': item.id}) }}" class="action">CC<i class="fas fa-arrow-right"></i></a>
                        <a href="{{ path('match_content_user', {'id': item.id}) }}" class="action">CU<i class="fas fa-arrow-right"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}