{% extends 'dna-admin/cms.html.twig' %}

{% block meta %}
    <title>CMS Dna Exchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="index, follow">
    <meta name="author" content="DNAklik">
    <meta name="copyright" content="DNAklik, Haarlem">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-success"><p class="dna">DNA: {% for stamp, count in data.dna %}
                    {{ stamp }} ({{ count }})
                    {% endfor %}</p></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th>User Id</th>
                    <th>Naam</th>
                    <th>Profiel id</th>
                    <th>Profiel</th>
                    <th>Score</th>
                    <th>Score corr</th>
                    <th>Stampcount</th>
                    <th>DNA</th>
                </tr>
                </thead>
                <tbody>
            {% for key, item in data.items %}
                <tr>
                    <td>{{ item.userId }}</td>
                    <td>{{ item.userName }}</td>
                    {% if item.profileId is defined %}
                        <td>{{ item.profileId }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if item.profileName is defined %}
                        <td style="background-color:{{ item.profileName }}">{{ item.profileName }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ item.match | number_format(3, ',') }}</td>
                    <td>{{ item.matchCorr | number_format(3, ',')  }}</td>
                    <td>{{ item.totalStampCount }}</td>
                    <td>{{ item.dnaStamps | raw }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}